body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-142px;
  width:2751px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:155px;
  width:241px;
  height:500px;
  display:flex;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:755px;
  width:241px;
  height:500px;
  display:flex;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1355px;
  width:241px;
  height:500px;
  display:flex;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:100px;
  width:743px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:100px;
  width:241px;
  height:35px;
  display:flex;
  font-size:16px;
}
#u786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:700px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:700px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:700px;
  width:492px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1208px;
  width:155px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:911px;
  width:195px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:177px;
  height:25px;
}
#u792p000 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:174px;
  height:10px;
  -webkit-transform:rotate(0.173229342195434deg);
  -moz-transform:rotate(0.173229342195434deg);
  -ms-transform:rotate(0.173229342195434deg);
  transform:rotate(0.173229342195434deg);
}
#u792p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u792p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(45.1732293421954deg);
  -moz-transform:rotate(45.1732293421954deg);
  -ms-transform:rotate(45.1732293421954deg);
  transform:rotate(45.1732293421954deg);
}
#u792p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u792p002 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.173229342195deg);
  -moz-transform:rotate(180.173229342195deg);
  -ms-transform:rotate(180.173229342195deg);
  transform:rotate(180.173229342195deg);
}
#u792p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1159px;
  width:164px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-45.1732293421954deg);
  -moz-transform:rotate(-45.1732293421954deg);
  -ms-transform:rotate(-45.1732293421954deg);
  transform:rotate(-45.1732293421954deg);
}
#u792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:111px;
  height:25px;
}
#u793p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:106px;
  height:10px;
  -webkit-transform:rotate(0.425386567902613deg);
  -moz-transform:rotate(0.425386567902613deg);
  -ms-transform:rotate(0.425386567902613deg);
  transform:rotate(0.425386567902613deg);
}
#u793p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:10px;
}
#u793p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-27.5746134320974deg);
  -moz-transform:rotate(-27.5746134320974deg);
  -ms-transform:rotate(-27.5746134320974deg);
  transform:rotate(-27.5746134320974deg);
}
#u793p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u793p002 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(-179.574613432097deg);
  -moz-transform:rotate(-179.574613432097deg);
  -ms-transform:rotate(-179.574613432097deg);
  transform:rotate(-179.574613432097deg);
}
#u793p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:962px;
  width:98px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(27.5746134320974deg);
  -moz-transform:rotate(27.5746134320974deg);
  -ms-transform:rotate(27.5746134320974deg);
  transform:rotate(27.5746134320974deg);
}
#u793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F44DB2;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1083px;
  width:117px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-size:14px;
  color:#F44DB2;
}
#u794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:799px;
  width:117px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1607px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1300px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1300px;
  width:994px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1890px;
  width:743px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:2150px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2401px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2401px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2652px;
  top:1955px;
  width:241px;
  height:500px;
  display:flex;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:2652px;
  top:1890px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:2490px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:2490px;
  width:241px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2727px;
  width:220px;
  height:36px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:210px;
  height:25px;
}
#u817p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:202px;
  height:6px;
  -webkit-transform:rotate(0.0335925995841251deg);
  -moz-transform:rotate(0.0335925995841251deg);
  -ms-transform:rotate(0.0335925995841251deg);
  transform:rotate(0.0335925995841251deg);
}
#u817p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:6px;
}
#u817p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(38.0335925995841deg);
  -moz-transform:rotate(38.0335925995841deg);
  -ms-transform:rotate(38.0335925995841deg);
  transform:rotate(38.0335925995841deg);
}
#u817p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u817p002 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-11px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.033592599584deg);
  -moz-transform:rotate(180.033592599584deg);
  -ms-transform:rotate(180.033592599584deg);
  transform:rotate(180.033592599584deg);
}
#u817p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:2666px;
  width:197px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-38.0335925995841deg);
  -moz-transform:rotate(-38.0335925995841deg);
  -ms-transform:rotate(-38.0335925995841deg);
  transform:rotate(-38.0335925995841deg);
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2769px;
  width:220px;
  height:34px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:381px;
  height:25px;
}
#u819p000 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:380px;
  height:14px;
  -webkit-transform:rotate(0.464111937736803deg);
  -moz-transform:rotate(0.464111937736803deg);
  -ms-transform:rotate(0.464111937736803deg);
  transform:rotate(0.464111937736803deg);
}
#u819p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:14px;
}
#u819p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(32.4641119377368deg);
  -moz-transform:rotate(32.4641119377368deg);
  -ms-transform:rotate(32.4641119377368deg);
  transform:rotate(32.4641119377368deg);
}
#u819p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u819p002 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:-13px;
  width:30px;
  height:28px;
  -webkit-transform:rotate(180.464111937737deg);
  -moz-transform:rotate(180.464111937737deg);
  -ms-transform:rotate(180.464111937737deg);
  transform:rotate(180.464111937737deg);
}
#u819p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:2696px;
  width:368px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-32.4641119377368deg);
  -moz-transform:rotate(-32.4641119377368deg);
  -ms-transform:rotate(-32.4641119377368deg);
  transform:rotate(-32.4641119377368deg);
}
#u819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:2942px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:35px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:2490px;
  width:492px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:155px;
  width:257px;
  height:231px;
  display:flex;
  opacity:0.7;
  text-align:left;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:500px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2555px;
  width:241px;
  height:500px;
  display:flex;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:2942px;
  width:335px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:480px;
  width:138px;
  height:33px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:1041px;
  width:178px;
  height:29px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1528px;
  width:168px;
  height:69px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:209px;
  height:25px;
}
#u828p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:200px;
  height:6px;
  -webkit-transform:rotate(-0.120261898548009deg);
  -moz-transform:rotate(-0.120261898548009deg);
  -ms-transform:rotate(-0.120261898548009deg);
  transform:rotate(-0.120261898548009deg);
}
#u828p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:6px;
}
#u828p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-90.120261898548deg);
  -moz-transform:rotate(-90.120261898548deg);
  -ms-transform:rotate(-90.120261898548deg);
  transform:rotate(-90.120261898548deg);
}
#u828p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u828p002 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(-180.120261898548deg);
  -moz-transform:rotate(-180.120261898548deg);
  -ms-transform:rotate(-180.120261898548deg);
  transform:rotate(-180.120261898548deg);
}
#u828p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1662px;
  width:196px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(90.120261898548deg);
  -moz-transform:rotate(90.120261898548deg);
  -ms-transform:rotate(90.120261898548deg);
  transform:rotate(90.120261898548deg);
}
#u828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:2171px;
  width:168px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:2078px;
  width:55px;
  height:34px;
  display:flex;
  opacity:0.7;
  font-size:8px;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:98px;
  height:22px;
}
#u831p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:92px;
  height:4px;
  -webkit-transform:rotate(-0.140762322143441deg);
  -moz-transform:rotate(-0.140762322143441deg);
  -ms-transform:rotate(-0.140762322143441deg);
  transform:rotate(-0.140762322143441deg);
}
#u831p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:4px;
}
#u831p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-25.1407623221434deg);
  -moz-transform:rotate(-25.1407623221434deg);
  -ms-transform:rotate(-25.1407623221434deg);
  transform:rotate(-25.1407623221434deg);
}
#u831p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u831p002 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-11px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(-180.140762322143deg);
  -moz-transform:rotate(-180.140762322143deg);
  -ms-transform:rotate(-180.140762322143deg);
  transform:rotate(-180.140762322143deg);
}
#u831p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:2117px;
  width:87px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(25.1407623221434deg);
  -moz-transform:rotate(25.1407623221434deg);
  -ms-transform:rotate(25.1407623221434deg);
  transform:rotate(25.1407623221434deg);
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:2044px;
  width:150px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F44DB2;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:2646px;
  width:183px;
  height:22px;
  display:flex;
  opacity:0.7;
  font-size:11px;
  color:#F44DB2;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(244, 77, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:2805px;
  width:177px;
  height:47px;
  display:flex;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F44DB2;
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
